p{
    color: #818181;
    margin-left: 150px;
    margin-right: 150px;
    background-image: url("Background.jpg") ;
    font-family: "Arial Black";
    font-size: 25px;
    border: solid #000000;
}
.Problem{
    margin-top: 200px;
}
.Job{
    color: #818181;
    margin-left: 150px;
    margin-right: 150px;
    font-family: "Arial Black";
    font-size: 25px;
    border: solid #000000;
}
.Zelena{
    color: greenyellow;
    margin-left: 150px;
    margin-right: 150px;
    font-family: "Arial Black";
    font-size: 25px;
    border: solid #000000;
}
h1{
    font-family: "Arial Black";
    margin-left: 150px;
    color: #d7d7d7;
}



body {
    background-image: url("Metrowebcompany.jpg");
}
.jedna {
    text-align: center;
    text-decoration: none;
}
/* ------------------------------------------------------*/
.Logo {
    image-size: 60px 40px;
    margin: -25px;
}
ul {
    background-image: url("Background.jpg");
    padding: -150px;
    text-decoration: none;
    /* ------------------------------------------------------*/
}
.jedna li {
    font-family: "Arial Black";
    color: #ff0303;
    display: inline-block;
    text-decoration: none;
    padding: 0px 16px;
}
/* ------------------------------------------------------*/
a {
    display: inline-block;
    color: #cbcbcb;
    text-decoration: none;
}
/* ------------------------------------------------------*/
a:hover {
    color: greenyellow;
}