body {
    background-image: url("Metroweblogin1.jpg");
    background-size: 1920px 1080px;
}
.nadpis {
    font-family: "Arial Black";
    color: lightgray;
}

form {
    text-align: center;
    display: block;
    margin: 50px auto;
    padding: 30px;
    width: 300px;
    background-image: url("Background.jpg");
    color: greenyellow;
    border: solid black;
}

.usernamelabel {
    font-family: "Arial Black";
    display: inline-block;
    width: 110px;
}

.passwordlabel {
    font-family: "Arial Black";
    display: inline-block;
    width: 110px;
}
.Checkbox:after{
    background-color: lightgray;
}

.Iaccept {
    color: lightgray;
    font-family: "Arial Black";
    pointer-events: stroke;
}

input {
    font-family: "Arial Black";
    margin-top: 5px;
    margin: 10px;

}
.submit-button{
    font-family: "Arial Black";
    background-color: greenyellow;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.submit-button:hover {
    background-color: lightgray;
}

input {
    padding: 4px 20px;
    border: solid lightgray;
}