h1{
    font-family: "Arial Black";
    font-size: 50px;
    text-align: center;
    color: greenyellow;
    margin: 150px;
    background-image: url("Background.jpg");
    border: solid 2px black;
}
.fa-instagram{
    float: left;
margin: 15px;
}

.body {
    background-image : url("Metroweb1.jpg");
    background-size: 1920px 1080px;
}
/* ------------------------------------------------------*/
.jedna {
    text-align: center;
    text-decoration: none;
    justify-content: space-around;
}
/* ------------------------------------------------------*/
.Logo {
    image-size: 100px 72px;
    margin: -25px;
    justify-content: space-around;
}
ul {
    background-image: url("Background.jpg");
    padding: -150px;
    text-decoration: none;
    /* ------------------------------------------------------*/
}
.jedna li {
    font-family: "Arial Black";
    color: #ff0303;
    display: inline-block;
    text-decoration: none;
    padding: 0px 16px;
}
/* ------------------------------------------------------*/
a {
    display: inline-block;
    color: #cbcbcb;
    text-decoration: none;
}
/* ------------------------------------------------------*/
a:hover {
    color: greenyellow;
}
